<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Hôte" description="Ouvrez votre abri et accueillez des voyageurs.">
      <ng-container pageHeaderActions>
        <button type="button" luButton="text" (click)="openGuide()">
          <lu-icon icon="book" />
          Guide de l'hôte
        </button>
        <button
          type="button"
          luButton="text"
          size="S"
          luTooltipOnlyForDisplay
          luTooltip="Afficher la liste des actions"
          [luDropdown]="dropdownSample"
          (click)="$event.stopPropagation()"
        >
          <lu-icon icon="menuDots" alt="Afficher la liste des actions" />
        </button>
        <ng-template #dropdownSample>
          <lu-dropdown-menu>
            <lu-dropdown-item>
              <button lu-dropdown-action type="button" critical aria-haspopup="dialog" (click)="deactivate()">
                <lu-icon icon="trashDelete" />
                Désactiver votre statut d'hôte
              </button>
            </lu-dropdown-item>
          </lu-dropdown-menu>
        </ng-template>
      </ng-container>
    </lu-page-header>
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <section>
          <header class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-justifyContentSpaceBetween pr-u-gap100">
            <h2>Votre abri</h2>
            @if (store.host()?.shelter) {
              <button type="button" luButton="outlined">Gérer votre abri</button>
            }
          </header>
          <lbnb-host-infos />
        </section>
        @if (store.host()?.shelter) {
          <section>
            <header>
              <h2>Vos demandes en cours</h2>
            </header>
            <div class="box pr-u-marginBlockStart100">
              <lu-empty-state-section
                icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperActionSuccess.svg"
                heading="Aucune demande pour le moment"
                description="Vous n’avez actuellement aucune demande d'abri à traiter. Les nouvelles demandes apparaîtront ici dès leur réception."
                palette="success"
              />
            </div>
          </section>
        }
        <section>
          <header>
            <h2>Vos accueils passés</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <lu-empty-state-section
              icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaper.svg"
              heading="Aucun accueil enregistré"
              description="Lorsque vous aurez hébergé un voyageur, vos accueils passés apparaîtront ici."
            />
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
