<lu-dialog>
  <lu-dialog-header>
    <h1>Désactiver votre statut d'hôte</h1>
  </lu-dialog-header>

  <lu-dialog-content>
    <p>
      Vous ne proposerez plus d’abri aux voyageurs et cette espace ne sera plus visible.<br />
      Cette action peut être réactivée à tout moment.
    </p>
  </lu-dialog-content>

  <lu-dialog-footer>
    <div class="footer-actions">
      <button type="button" luButton (click)="confirm()">Confirmer</button>
      <button type="button" luButton="text" luDialogDismiss>Annuler</button>
    </div>
  </lu-dialog-footer>
</lu-dialog>
