.accommodation {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}

.accommodation-image {
  --border-color: var(--palettes-neutral-0);
  --background-color: var(--palettes-neutral-0);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  border-bottom: 0.5rem solid var(--border-color);
  background-color: var(--background-color);

  &.mod-empty::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 3rem;
    height: 3rem;
    margin: auto;
    background-image: url('/lucca-bnb/static/assets/images/empty.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
