<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Paramètres" />
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <section>
          <header>
            <h2>Sécurité des informations</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
