.container {
  &.mod-dataPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--pr-t-spacings-200);
    padding-block-end: var(--pr-t-spacings-200);
  }

  &.mod-emptyPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--pr-t-spacings-200);
    padding: 0;
  }
}
