<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Hôte" description="Proposer un abri aux voyageurs">
      <ng-container pageHeaderActions>
        <button type="button" luButton="text" (click)="openGuide()">
          <lu-icon icon="book" />
          Guide de l'hôte
        </button>
      </ng-container>
    </lu-page-header>
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <section>
          <header>
            <h2>Mon abri</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
            <ul>
              <li>l’adresse précise du logement</li>
              <li>le type de logement (Maison/apt)</li>
              <li>si le Luccasien aura une pièce à part ou non</li>
              <li>le type de couchage (Lit/canapé/matelas gonflable)</li>
              <li>l’équipement (Wifi, serviettes de bain, parking, local à vélo)</li>
              <li>l’équipement (Wifi, serviettes de bain, parking, local à vélo)</li>
              <li>si le logement accueille d’autres habitants (animaux, enfants, conjoints, colocs, etc)</li>
              <li>les règles du logement : horaires, fumeur/non fumeur, etc</li>
            </ul>
          </div>
        </section>
        <section>
          <header>
            <h2>Mes demandes (en cours et passées)</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
          </div>
        </section>
        <section>
          <header>
            <h2>Ne plus être hôte</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
