<lu-data-table
  layoutFixed
  [class.skeleton]="isLoading"
  [class.is-loading]="isLoading"
  [attr.inert]="isLoading ? 'inert' : null"
>
  <thead luDataTableHead>
    <tr luDataTableRow>
      <th luDataTableCell>Donnée Lucca</th>
      <th luDataTableCell>Code rubrique en paie</th>
    </tr>
  </thead>
  @if (isLoading) {
    <lu-skeleton-data-table dataTableBodyOnly [cols]="2" />
  } @else {
    @for (dataGroup of dataGroups; track $index) {
      <tbody
        luDataTableBody
        [groupButtonAlt]="`Afficher ${dataGroup.data.length} lignes supplémentaires`"
        [group]="dataGroup.name"
        [expanded]="dataGroup.isExpanded"
      >
        @for (item of dataGroup.data; track $index) {
          <tr luDataTableRow>
            <td luDataTableCell>
              <div class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-justifyContentSpaceBetween pr-u-gap200">
                <p>{{ item }}</p>
                <lu-icon icon="arrowRight" color="light" />
              </div>
            </td>
            <td luDataTableCell editable>
              <lu-form-field label="Code rubrique en paie" hiddenLabel>
                <lu-text-input type="text" [ngModelOptions]="{ standalone: true }" [(ngModel)]="code" />
              </lu-form-field>
            </td>
          </tr>
        }
      </tbody>
    } @empty {
      <tbody luDataTableBody>
        <tr luDataTableRow>
          <td luDataTableCell colspan="2">
            <lu-empty-state-section
              icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconSearch.svg"
              palette="product"
              heading="Votre recherche ne donne aucun résultat"
              description="Et si vous tentiez de modifier vos critères de recherche ?"
            />
          </td>
        </tr>
      </tbody>
    }
  }
</lu-data-table>
