<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header
      container
      label="Hébergements"
      description="Repérez rapidement les hébergements disponibles autour de votre destination."
    >
      <ng-container pageHeaderActions>
        <form class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap100">
          <ng-template #mapLabel>
            <lu-icon icon="mapPlan" alt="Vue carte" />
          </ng-template>
          <ng-template #listLabel>
            <lu-icon icon="app" alt="Vue liste" />
          </ng-template>
          <lu-segmented-control [ngModelOptions]="{ standalone: true }" [(ngModel)]="view">
            <lu-segmented-control-filter [label]="mapLabel" [value]="VIEW_TYPE.MAP" />
            <lu-segmented-control-filter [label]="listLabel" [value]="VIEW_TYPE.LIST" />
          </lu-segmented-control>
          <lu-form-field label="Lieu" hiddenLabel>
            <lu-simple-select
              placeholder="Sélectionner un lieu..."
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="place"
            />
          </lu-form-field>
        </form>
      </ng-container>
    </lu-page-header>
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        @if (view() === VIEW_TYPE.MAP) {
          <div class="box">
            <iframe
              src="https://www.google.com/maps/d/u/0/viewer?hl=fr&ll=48.86631203364376%2C2.355756225748862&z=13&mid=1NoIu6TV-lAlMuNzXWbBlR60nhMLqDjY8"
              width="560"
              height="315"
              title="Carte des hébergements"
            ></iframe>
          </div>
        }
        @if (view() === VIEW_TYPE.LIST) {
          <lu-grid columns="3" columnGap="300" rowGap="300">
            @for (i of [].constructor(18); track $index) {
              <lu-grid-column>
                <lbnb-accommodation-card [hasPhoto]="$first" [palette]="palettes[$index % 7]" />
              </lu-grid-column>
            }
          </lu-grid>
        }
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
