<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Journal de bord" />
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage pr-u-gap300">
        <lu-fancy-box
          backgroundLeft="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/background-left-bubbles.svg"
          backgroundRight="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/background-right-bubbles.svg"
        >
          <img
            class="dashboard-fancyImageRight"
            ngSrc="./assets/illustrations/manyKeys.png"
            height="120"
            width="120"
            alt=""
          />
          <img
            class="dashboard-fancyImageLeft"
            ngSrc="./assets/illustrations/diapo.png"
            height="100"
            width="90"
            alt=""
          />
          <lu-grid columns="7">
            <lu-grid-column colspan="3" justify="center">
              <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-alignItemsCenter pr-u-gap100">
                <h2 class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap50">
                  <lu-icon icon="transportTrain" />
                  Voyageur
                </h2>
                @let nbRequest = store.traveler()?.requests?.length;
                @if (nbRequest) {
                  <p><lu-numeric-badge palette="product" [value]="nbRequest" /> demandes en cours</p>
                } @else {
                  <p>Aucune demande en cours</p>
                }
                <a routerLink="/accommodations" luButton>Préparer un voyage</a>
              </div>
            </lu-grid-column>
            <lu-grid-column colspan="1">
              <lu-divider class="dashboard-fancySeparator" vertical separatorRole />
            </lu-grid-column>
            <lu-grid-column colspan="3" justify="center">
              <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-alignItemsCenter pr-u-gap100">
                @if (store.isHost()) {
                  <h2 class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap50">
                    <lu-icon icon="buildingHouseStarred" />
                    Hôte
                  </h2>
                  @let nbRequest = store.traveler()?.requests?.length;
                  @if (nbRequest) {
                    <p><lu-numeric-badge palette="product" [value]="nbRequest" /> demandes en cours</p>
                  } @else {
                    <p>Aucune demande en cours</p>
                  }
                  <a routerLink="/host" luButton="outlined" palette="product">Consulter mon hébergement</a>
                } @else {
                  <h2 class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap50">
                    <lu-icon icon="buildingHouseStarred" />
                    Non hôte
                  </h2>
                  <button type="button" luButton="outlined" palette="product" (click)="store.toggleHosting()">
                    Devenir hôte
                  </button>
                }
              </div>
            </lu-grid-column>
          </lu-grid>
        </lu-fancy-box>
        @if (hasNextJourney || (store.isHost() && hasNextWelcome)) {
          @let colspan = hasNextJourney && store.isHost() && hasNextWelcome ? 6 : 12;
          <div class="grid">
            @if (hasNextJourney) {
              <div class="grid-column" [attr.style]="`--grid-colspan: ${colspan}`">
                <lu-highlight-data
                  heading="Votre prochain voyage"
                  value="Le 25 décembre"
                  subText="Chez Daniel Hernandez, à Paris"
                  illustration="calendar"
                  theme="dark"
                  size="S"
                  [bubble]="1"
                />
              </div>
            }
            @if (store.isHost() && hasNextWelcome) {
              <div class="grid-column" [attr.style]="`--grid-colspan: ${colspan}`">
                <lu-highlight-data
                  heading="Votre prochain accueil"
                  value="Le 25 décembre"
                  subText="De Daniel Hernandez"
                  illustration="coffee"
                  theme="dark"
                  size="S"
                  [bubble]="1"
                />
              </div>
            }
          </div>
        }
        <ul class="grid pr-u-listReset" role="list">
          @let colspan = store.isHost() ? 4 : 6;
          @for (card of cards; track card.icon) {
            <li class="grid-column pr-u-flexGrow1" [attr.style]="`--grid-colspan: ${colspan}`">
              <lbnb-dashboard-card [card]="card" />
            </li>
          }
        </ul>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
