<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Journal de bord" />
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <lu-fancy-box
          backgroundLeft="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/background-left-bubbles.svg"
          backgroundRight="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/background-right-candies.svg"
          foreground="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/foreground-right-pizza.svg"
        >
          <div class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap300">
            <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-alignItemsCenter pr-u-gap100">
              <h2 class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap50">
                <lu-icon icon="transportTrain" />
                Voyageur
              </h2>
              <p><lu-numeric-badge palette="product" [value]="7" /> demandes en cours</p>
              <a routerLink="/journey" luButton>Préparer un voyage</a>
            </div>
            <lu-divider vertical separatorRole />
            <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-alignItemsCenter pr-u-gap100">
              @if (store.isHost()) {
                <h2 class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap50">
                  <lu-icon icon="buildingHouseStarred" />
                  Hôte
                </h2>
                <p><lu-numeric-badge palette="product" [value]="3" /> demandes en cours</p>
                <a routerLink="/shelter" luButton="outlined" palette="product">Consulter mon abri</a>
              } @else {
                <h2 class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap50">
                  <lu-icon icon="buildingHouseStarred" />
                  Non hôte
                </h2>
                <button type="button" luButton="outlined" palette="product" (click)="store.toggleHosting()">
                  Devenir hôte
                </button>
              }
            </div>
          </div>
        </lu-fancy-box>
      </div>
      <div class="container mod-dataPage">
        @if (hasNextJourney) {
          <section>
            <header>
              <h2>Votre prochain voyage</h2>
            </header>
            <div class="box pr-u-marginBlockStart100">
              <p>Contenu à venir</p>
            </div>
          </section>
        }
        @if (hasNextWelcome) {
          <section>
            <header>
              <h2>Votre prochain accueil</h2>
            </header>
            <div class="box pr-u-marginBlockStart100">
              <p>Contenu à venir</p>
            </div>
          </section>
        }
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
