.dashboard-fancySeparator {
  inline-size: 0;
  block-size: 100%;
  margin: auto;
}

.dashboard-fancyImageLeft {
  position: absolute;
  bottom: -15px;
  left: -65px;
}

.dashboard-fancyImageRight {
  position: absolute;
  top: -15px;
  right: -65px;
}
