<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Journal de bord" />
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <h2>Bienvenue sur Lucca BnB</h2>
        <p>Mes demandes en cours / passées (voyageur)</p>
        <p>Mes demandes en cours / passées (hôte) ou devenir hôte</p>
      </div>
      <div class="container mod-dataPage">
        <section>
          <header>
            <h2>Votre prochain voyage</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
          </div>
        </section>
        <section>
          <header>
            <h2>Votre prochain accueil</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
