<lu-dialog>
  <form class="dialog-inside-formOptional">
    <lu-dialog-header>
      <h1>Guide du voyageur</h1>
    </lu-dialog-header>

    <lu-dialog-content>
      <lu-box neutral>
        <ul>
          <li>
            <strong>À l’avance tu demanderas (dans la mesure du possible)&nbsp;:&nbsp;</strong>
            <span>un délai minimum de 48h est préférable</span>
          </li>
          <li>
            <strong>Le logement de ton hôte tu respecteras&nbsp;:&nbsp;</strong>
            <span>la propreté est de mise ! L’idée est de ne pas rajouter du travail à celui qui t’accueilles.</span>
          </li>
          <li>
            <strong>Au mode de vie de ton hôte tu t’adapteras&nbsp;:&nbsp;</strong>
            <span>
              ce mode de vie sera indiqué sur son profil, il est donc de bon ton de s’y adapter. Si tu es là pour faire
              la fête, choisis ton hôte en conséquence. Si tu es là pour une soirée tranquille, fais de même.
            </span>
          </li>
          <li>
            <strong>De tes contraintes logistiques tu informeras ton hôte&nbsp;:&nbsp;</strong>
            <span>heures de train/ réunion, bagages… pour qu’il puisse bien t’accueillir.</span>
          </li>
        </ul>
      </lu-box>
    </lu-dialog-content>

    <lu-dialog-footer>
      <div class="footer-actions">
        <button type="button" luButton="text" luDialogDismiss>Fermer</button>
      </div>
    </lu-dialog-footer>
  </form>
</lu-dialog>
