<div class="hostInfos box pr-u-marginBlockStart100">
  @if (store.host()?.shelter; as shelter) {
    <div class="hostInfos-content">
      <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap200">
        <lbnb-info icon="mapPin" heading="Adresse" [description]="adress" />
        <ng-template #adress>
          @if (shelter.adressHref) {
            <a luLink external [href]="shelter.adressHref">{{ shelter.adress }}</a>
          } @else {
            <span>{{ shelter.adress }}</span>
          }
        </ng-template>
        <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
          <lbnb-info icon="buildingHouse" heading="Type de logement" [description]="shelter.type" />
          <lbnb-info heading="Pièce à part" [hasEmptyIcon]="true" [description]="shelter.hasRoomSide ? 'Oui' : 'Non'" />
          <lbnb-info heading="Type de couchage" [hasEmptyIcon]="true" [description]="shelter.sleepingType" />
          <lbnb-info heading="Equipement" [hasEmptyIcon]="true" [description]="shelter.equipment" />
          @if (shelter.othersRoomates; as othersRoomates) {
            <lbnb-info heading="Autres habitants" [hasEmptyIcon]="true" [description]="shelter.othersRoomates" />
          }
        </div>
        @if (shelter.othersInfos; as othersInfos) {
          <lbnb-info icon="signInfo" heading="Infos complémentaires" [description]="shelter.othersInfos" />
        }
      </div>
      @if (shelter.photo) {
        <div class="pinnedPhoto">
          <div class="pinnedPhoto-img" [attr.style]="`--site-image-url: url(${shelter.photo})`"></div>
        </div>
      }
    </div>
  } @else {
    <lu-empty-state-section
      icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
      heading="Aucun hébergement proposé"
      description="Vous devez configurer votre proposition d'hébergement avant de pouvoir recevoir des demandes de voyageurs."
    >
      <button type="button" luButton>Proposer un hébergement</button>
    </lu-empty-state-section>
  }
</div>
