<div class="hostInfos box pr-u-marginBlockStart100">
  @if (store.host()?.shelter; as shelter) {
    <div class="hostInfos-table dataTableWrapper mod-nested">
      <div class="dataTable">
        <div class="dataTable-head">
          <div class="dataTable-head-row">
            <div class="dataTable-head-row-cell">
              <div class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-gap100">
                <h4 class="pr-u-ellipsis">{{ shelter.name }}</h4>
                <lu-status-badge label="Proposé" palette="success" />
              </div>
            </div>
          </div>
        </div>
        <div class="dataTable-body pr-u-textS">
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Adresse</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.adress }}
            </dd>
          </dl>
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Type de logement</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.type }}
            </dd>
          </dl>
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Pièce à part</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.hasRoomSide ? 'Oui' : 'Non' }}
            </dd>
          </dl>
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Type de couchage</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.sleepingType }}
            </dd>
          </dl>
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Equipement</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.equipment }}
            </dd>
          </dl>
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Autres habitants</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.othersRoomates }}
            </dd>
          </dl>
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Autres infos, règles</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">
              {{ shelter.othersInfos }}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  } @else {
    <lu-empty-state-section
      icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
      heading="Aucun abri configuré"
      description="Vous devez configurer un abri avant de pouvoir recevoir des demandes de voyageurs."
    >
      <button type="button" luButton>Configurer votre abri</button>
    </lu-empty-state-section>
  }
</div>
