<div class="hostInfos box pr-u-marginBlockStart100">
  @if (store.host()?.shelter; as shelter) {
    <div class="hostInfos-content">
      <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Adresse</dt>
          <dd class="pr-u-margin0">
            {{ shelter.adress }}
          </dd>
        </dl>
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Type de logement</dt>
          <dd class="pr-u-margin0">
            {{ shelter.type }}
          </dd>
        </dl>
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Pièce à part</dt>
          <dd class="pr-u-margin0">
            {{ shelter.hasRoomSide ? 'Oui' : 'Non' }}
          </dd>
        </dl>
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Type de couchage</dt>
          <dd class="pr-u-margin0">
            {{ shelter.sleepingType }}
          </dd>
        </dl>
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Equipement</dt>
          <dd class="pr-u-margin0">
            {{ shelter.equipment }}
          </dd>
        </dl>
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Autres habitants</dt>
          <dd class="pr-u-margin0">
            {{ shelter.othersRoomates }}
          </dd>
        </dl>
        <dl class="pr-u-margin0">
          <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Autres infos, règles</dt>
          <dd class="pr-u-margin0">
            {{ shelter.othersInfos }}
          </dd>
        </dl>
      </div>
      @if (shelter.photo) {
        <div class="pinnedPhoto">
          <div class="pinnedPhoto-img" [attr.style]="`--site-image-url: url(${shelter.photo})`"></div>
        </div>
      }
    </div>
  } @else {
    <lu-empty-state-section
      icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
      heading="Aucun hébergement proposé"
      description="Vous devez configurer votre proposition d'hébergement avant de pouvoir recevoir des demandes de voyageurs."
    >
      <button type="button" luButton>Proposer un hébergement</button>
    </lu-empty-state-section>
  }
</div>
