<div class="travelerInfos box pr-u-marginBlockStart100">
  @if (store.traveler()?.user; as user) {
    <div class="pr-u-displayFlex pr-u-gap500">
      <div class="pinnedPhoto">
        <div class="pinnedPhoto-img" [attr.style]="`--site-image-url: url(${user.pictureHref})`"></div>
      </div>
      <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        @if (store.traveler()?.email; as email) {
          <lbnb-info heading="Courriel" [description]="email" />
        }
        @if (store.traveler()?.phoneNumber; as phoneNumber) {
          <lbnb-info heading="Téléphone" [description]="phoneNumber" />
        }
        <a luLink external>Consulter votre dossier RH</a>
      </div>
    </div>
  }
  @if (store.traveler()?.passport; as passport) {
    <lu-divider separatorRole class="pr-u-marginBlock200" />
    <h3 class="pr-u-marginBlockEnd100">Autres infos et préférences</h3>
    <lu-grid columns="3">
      @if (passport.sleepPreferences) {
        <lu-grid-column class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
          <lbnb-info
            icon="hotelBed"
            heading="Lève-tôt"
            [description]="passport.sleepPreferences.isEarlyBird ? 'Oui' : 'Non'"
          />
          <lbnb-info
            heading="Couche-tard"
            [hasEmptyIcon]="true"
            [description]="passport.sleepPreferences.isNightOwl ? 'Oui' : 'Non'"
          />
          @if (passport.sleepPreferences.sleepNotes; as sleepNotes) {
            <lbnb-info heading="Autres infos" [hasEmptyIcon]="true" [description]="sleepNotes" />
          }
        </lu-grid-column>
      }
      @if (passport.allergiesAndDiet) {
        <lu-grid-column class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
          <lbnb-info
            icon="medicalDoctor"
            heading="Allergie aux animaux"
            [description]="passport.allergiesAndDiet.hasPetAllergy ? 'Oui' : 'Non'"
          />
          @if (passport.allergiesAndDiet.otherAllergies; as otherAllergies) {
            <lbnb-info heading="Autres allergies" [hasEmptyIcon]="true" [description]="otherAllergies" />
          }
          @if (passport.allergiesAndDiet.dietType; as dietType) {
            <lbnb-info icon="foodCutlery" heading="Régime alimentaire" [hasEmptyIcon]="true" [description]="dietType" />
          }
        </lu-grid-column>
        @if (passport.otherPreferences; as otherPreferences) {
          <lu-grid-column class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
            <lbnb-info icon="signInfo" heading="Note personnelle" [description]="otherPreferences" />
          </lu-grid-column>
        }
      }
    </lu-grid>
  }
</div>
