<div class="travelerInfos box pr-u-marginBlockStart100">
  @if (store.traveler()?.user; as user) {
    <div class="pr-u-displayFlex pr-u-gap500">
      <div class="pinnedPhoto">
        <div class="pinnedPhoto-img" [attr.style]="`--site-image-url: url(${user.pictureHref})`"></div>
      </div>
      <div class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        @if (store.traveler()?.email; as email) {
          <dl class="pr-u-margin0">
            <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Mail</dt>
            <dd class="pr-u-margin0">{{ email }}</dd>
          </dl>
        }
        @if (store.traveler()?.phoneNumber; as phoneNumber) {
          <dl class="pr-u-margin0">
            <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Téléphone</dt>
            <dd class="pr-u-margin0">{{ phoneNumber }}</dd>
          </dl>
        }
        <a luLink external>Consulter votre dossier RH</a>
      </div>
    </div>
  }
  @if (store.traveler()?.passport; as passport) {
    <lu-divider separatorRole />
    <h3>Autres infos et préférences</h3>
    <lu-grid columns="3">
      @if (passport.sleepPreferences) {
        <lu-grid-column class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
          <dl class="pr-u-margin0">
            <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Lève-tôt</dt>
            <dd class="pr-u-margin0">
              {{ passport.sleepPreferences.isEarlyBird ? 'Oui' : 'Non' }}
            </dd>
          </dl>
          <dl class="pr-u-margin0">
            <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Couche-tard</dt>
            <dd class="pr-u-margin0">
              {{ passport.sleepPreferences.isNightOwl ? 'Oui' : 'Non' }}
            </dd>
          </dl>
          @if (passport.sleepPreferences.sleepNotes; as sleepNotes) {
            <dl class="pr-u-margin0">
              <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Autres infos</dt>
              <dd class="pr-u-margin0">{{ sleepNotes }}</dd>
            </dl>
          }
        </lu-grid-column>
      }
      @if (passport.allergiesAndDiet) {
        <lu-grid-column class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
          <dl class="pr-u-margin0">
            <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Allergie aux animaux</dt>
            <dd class="pr-u-margin0">
              {{ passport.allergiesAndDiet.hasPetAllergy ? 'Oui' : 'Non' }}
            </dd>
          </dl>
          @if (passport.allergiesAndDiet.otherAllergies; as otherAllergies) {
            <dl class="pr-u-margin0">
              <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Autres allergies</dt>
              <dd class="pr-u-margin0">{{ otherAllergies }}</dd>
            </dl>
          }
          <dl class="pr-u-margin0">
            <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Régime</dt>
            <dd class="pr-u-margin0">
              {{ passport.allergiesAndDiet.dietType }}
            </dd>
          </dl>
        </lu-grid-column>
        @if (passport.otherPreferences; as otherPreferences) {
          <lu-grid-column class="pr-u-displayFlex pr-u-flexDirectionColumn pr-u-gap100">
            <dl class="pr-u-margin0">
              <dt class="pr-u-textXS pr-u-fontWeight600 pag-u-textNeutral600">Note personnelle</dt>
              <dd class="pr-u-margin0">{{ otherPreferences }}</dd>
            </dl>
          </lu-grid-column>
        }
      }
    </lu-grid>
  }
</div>
