<div class="travelerInfos box pr-u-marginBlockStart100">
  @if (store.traveler()?.passport; as passport) {
    <div class="travelerInfos-table dataTableWrapper mod-nested">
      <div class="dataTable">
        <div class="dataTable-head">
          <div class="dataTable-head-row pr">
            <div class="dataTable-head-row-cell">
              @if (store.traveler()?.user; as user) {
                <lu-user-tile [user]="user" />
              }
            </div>
            <div class="dataTable-head-row-cell">
              @if (store.traveler()?.user; as user) {
                <a luLink external>Consulter votre dossier RH</a>
              }
            </div>
          </div>
        </div>
        <div class="dataTable-body pr-u-textS">
          <dl class="dataTable-body-row">
            <dt class="dataTable-head-row-cell">Autres infos</dt>
            <dd class="dataTable-head-row-cell pag-u-textNeutral800">{{ passport.otherPreferences }}</dd>
          </dl>
        </div>
      </div>
    </div>
  } @else {
    <lu-empty-state-section
      icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
      heading="Aucune information enregistrée"
      description="Renseignez vos informations de voyage pour faciliter vos futures demandes d’abri."
    >
      <button type="button" luButton>Enregistrer votre passeport</button>
    </lu-empty-state-section>
  }
</div>
