<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header
      container
      label="Voyageur"
      description="Gérez vos informations et vos demandes d'hébergement pour se déplacer sereinement."
    >
      <ng-container pageHeaderActions>
        <button type="button" luButton="text" (click)="openGuide()">
          <lu-icon icon="book" />
          Guide du voyageur
        </button>
      </ng-container>
    </lu-page-header>
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <section>
          <header>
            <h2>Vos demandes en cours</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <lu-empty-state-section
              icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperActionSuccess.svg"
              heading="Aucune demande en cours"
              description="Vous n’avez actuellement aucune demande d’hébergement en attente. Vos nouvelles demandes apparaîtront ici."
              palette="success"
            />
          </div>
        </section>
        <section>
          <header class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-justifyContentSpaceBetween pr-u-gap100">
            <h2>Votre passeport</h2>
            <button type="button" luButton="outlined">Gérer votre passeport</button>
          </header>
          <lbnb-traveler-infos />
        </section>
        <section>
          <header>
            <h2>Vos voyages passées</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <lu-empty-state-section
              icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaper.svg"
              heading="Aucun voyage passé"
              description="Lorsque vous effectuerez votre premier voyage, il apparaîtra ici sous forme d’historique."
            />
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
