<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Voyageur" description="Se déplacer sereinement grâce aux abris">
      <ng-container pageHeaderActions>
        <button type="button" luButton="text" (click)="openGuide()">
          <lu-icon icon="book" />
          Guide du voyageur
        </button>
      </ng-container>
    </lu-page-header>
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <lbnb-journey-shelters />
        <section>
          <header>
            <h2>Vos demandes en cours</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <lu-empty-state-section
              hx="3"
              icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperActionSuccess.svg"
              heading="Aucune demande"
              description="Ni en cours, ni passée"
            />
          </div>
        </section>
        <section>
          <header>
            <h2>Vos voyages passées</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <lu-empty-state-section
              hx="3"
              icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperActionSuccess.svg"
              heading="Aucune demande"
              description="Ni en cours, ni passée"
            />
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
