<lu-main-layout footerSticky>
  <ng-container mainLayoutHeader>
    <lu-page-header container label="Voyage : être en transumance" />
  </ng-container>
  <ng-container mainLayoutContent>
    <lu-main-layout-block>
      <div class="container mod-dataPage">
        <section>
          <header>
            <h2>Le guide du voyageur</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir (sidepanel header action)</p>
            <p>
              - **_A l’avance tu demanderas (dans la mesure du possible)_** : un délai minimum de 48h est préférable. -
              **_Le logement de ton hôte tu respecteras_** : la propreté est de mise ! L’idée est de ne pas rajouter du
              travail à celui qui t’accueilles. - **_Au mode de vie de ton hôte tu t’adapteras_** : ce mode de vie sera
              indiqué sur son profil, il est donc de bon ton de s’y adapter. Si tu es là pour faire la fête, choisis ton
              hôte en conséquence. Si tu es là pour une soirée tranquille, fais de même. - **_De tes contraintes
              logistiques tu informeras ton hôte_** : heures de train/ réunion, bagages… pour qu’il puisse bien
              t’accueillir.
            </p>
          </div>
        </section>
        <section>
          <header>
            <h2>Carte BnB / la liste des BnB</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
            <ul>
              <li>l’adresse précise du logement</li>
              <li>le type de logement (Maison/apt)</li>
              <li>si le Luccasien aura une pièce à part ou non</li>
              <li>le type de couchage (Lit/canapé/matelas gonflable)</li>
              <li>l’équipement (Wifi, serviettes de bain, parking, local à vélo)</li>
              <li>l’équipement (Wifi, serviettes de bain, parking, local à vélo)</li>
              <li>si le logement accueille d’autres habitants (animaux, enfants, conjoints, colocs, etc)</li>
              <li>les règles du logement : horaires, fumeur/non fumeur, etc</li>
            </ul>
          </div>
        </section>
        <section>
          <header>
            <h2>Mon statut de voyageur</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
            <ul>
              <li>l’adresse précise du logement</li>
              <li>le type de logement (Maison/apt)</li>
              <li>si le Luccasien aura une pièce à part ou non</li>
              <li>le type de couchage (Lit/canapé/matelas gonflable)</li>
              <li>l’équipement (Wifi, serviettes de bain, parking, local à vélo)</li>
              <li>l’équipement (Wifi, serviettes de bain, parking, local à vélo)</li>
              <li>si le logement accueille d’autres habitants (animaux, enfants, conjoints, colocs, etc)</li>
              <li>les règles du logement : horaires, fumeur/non fumeur, etc</li>
            </ul>
          </div>
        </section>
        <section>
          <header>
            <h2>Mes demandes (en cours et passées)</h2>
          </header>
          <div class="box pr-u-marginBlockStart100">
            <p>Contenu à venir</p>
          </div>
        </section>
      </div>
    </lu-main-layout-block>
  </ng-container>
</lu-main-layout>
