<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="91"
  height="90"
  fill="none"
  class="pr-u-marginBlockStartAuto pr-u-marginBlockEnd0"
  aria-hidden="true"
>
  <g clip-path="url(#a)">
    <path
      d="M70.76 62.9c5.87-16.33 12.03-10.7 15.04-6.1s10.25 18.95-.45 20.7c-10.73 1.76-17.95-5.26-14.59-14.6"
      [attr.fill]="`var(--palettes-${palette()}-200)`"
    />
    <path
      d="M40.11 78.83c-51.77 36.59-60.07 6.4-60.28-14.04-.23-20.45 5.74-79.3 43.45-61.47 37.7 17.84 46.41 54.58 16.83 75.5"
      [attr.fill]="`var(--palettes-${palette()}-100)`"
    />
  </g>
  <defs>
    <clipPath id="a">
      <path fill="#fff" d="M-13 96V0H91v96z" />
    </clipPath>
  </defs>
</svg>
