<lu-dialog>
  <form class="dialog-inside-formOptional">
    <lu-dialog-header>
      <h1>Gérer les codes rubrique</h1>
    </lu-dialog-header>

    <lu-dialog-content>
      <div class="grid pr-u-height100%">
        <div
          class="grid-column pr-u-displayFlex pr-u-flexDirectionColumn pr-u-flexGrow1 pr-u-gap200"
          style="--grid-colspan: 4"
        >
          <ul class="pr-u-listReset pr-u-displayFlex pr-u-gap100">
            <li>
              <button
                type="button"
                luButton="outlined"
                size="S"
                luTooltip="Propriétés des rubriques"
                luTooltipOnlyForDisplay
                aria-haspopup="dialog"
                (click)="handleProperties()"
              >
                <lu-icon icon="settingsGear" alt="Propriétés des rubriques" />
              </button>
            </li>
            <li>
              <button
                type="button"
                luButton="outlined"
                size="S"
                luTooltip="Télécharger les rubriques"
                luTooltipOnlyForDisplay
              >
                <lu-icon icon="arrowUpload" alt="Télécharger les rubriques" />
              </button>
            </li>
            <li>
              <button
                type="button"
                luButton="outlined"
                size="S"
                luTooltip="Importer des rubriques"
                luTooltipOnlyForDisplay
              >
                <lu-icon icon="arrowDownload" alt="Importer des rubriques" />
              </button>
            </li>
            <li>
              <button
                type="button"
                luButton="outlined"
                size="S"
                palette="product"
                luTooltip="Ajouter une rubrique"
                luTooltipOnlyForDisplay
              >
                <lu-icon icon="mathsPlus" alt="Ajouter une rubrique" />
              </button>
            </li>
          </ul>
          <div class="verticalNavigation">
            <ul class="verticalNavigation-list">
              <li class="verticalNavigation-list-item">
                <button type="button" class="verticalNavigation-list-item-link" aria-current="page">RUBRIQUE 1</button>
              </li>
              <li class="verticalNavigation-list-item">
                <button type="button" class="verticalNavigation-list-item-link">RUBRIQUE 2</button>
              </li>
              <li class="verticalNavigation-list-item">
                <button type="button" class="verticalNavigation-list-item-link">RUBRIQUE 3</button>
              </li>
              <li class="verticalNavigation-list-item">
                <button type="button" class="verticalNavigation-list-item-link">RUBRIQUE 4</button>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="grid-column box pr-u-displayFlex pr-u-flexDirectionColumn pr-u-flexGrow1 pr-u-gap150 pr-u-paddingInline200 pr-u-paddingBlock150"
          style="--grid-colspan: 8"
        >
          <div class="pr-u-displayFlex pr-u-alignItemsCenter pr-u-justifyContentSpaceBetween pr-u-gap200">
            <h2 class="pr-u-h3">Paramètres de la rubrique</h2>
            <button
              type="button"
              luButton="text"
              size="S"
              luTooltipOnlyForDisplay
              luTooltip="Afficher la liste des actions"
              [luDropdown]="dropdownSample"
              (click)="$event.stopPropagation()"
            >
              <lu-icon icon="menuDots" alt="Afficher la liste des actions" />
            </button>
            <ng-template #dropdownSample>
              <lu-dropdown-menu>
                <lu-dropdown-item>
                  <button lu-dropdown-action type="button" aria-haspopup="dialog">
                    <lu-icon icon="fileCopy" />
                    Dupliquer la rubrique
                  </button>
                </lu-dropdown-item>
                <lu-dropdown-item>
                  <button lu-dropdown-action type="button" critical aria-haspopup="dialog">
                    <lu-icon icon="trashDelete" />
                    Supprimer la rubrique
                  </button>
                </lu-dropdown-item>
              </lu-dropdown-menu>
            </ng-template>
          </div>
          <lu-form-field label="Code rubrique">
            <lu-text-input required type="text" [ngModelOptions]="{ standalone: true }" [(ngModel)]="code" />
          </lu-form-field>
        </div>
      </div>
    </lu-dialog-content>

    <lu-dialog-footer>
      <div class="footer-actions">
        <button type="button" luButton>Enregistrer</button>
        <button type="button" luButton="text" luDialogDismiss>Annuler</button>
      </div>
    </lu-dialog-footer>
  </form>
</lu-dialog>
