<lu-dialog>
  <lu-dialog-header>
    <h1>Guide de l'hôte</h1>
  </lu-dialog-header>

  <lu-dialog-content>
    <lu-box neutral>
      <ul>
        <li>
          <strong>Un couchage tu proposeras&nbsp;:&nbsp;</strong>
          <span>canapé lit, canapé, ou chambre d’amis… l’essentiel est de bien spécifier ce que tu proposes.</span>
        </li>
        <li>
          <strong>Des informations tu fourniras&nbsp;:&nbsp;</strong>
          <span
            >adresse, mode de vie, choses à respecter chez toi… il est important que le Luccasien que tu accueilles soit
            prévenu pour qu’il puisse respecter ton environnement.</span
          >
        </li>
        <li>
          <strong>Sur le voyageur que tu accueilles tu te renseigneras&nbsp;:&nbsp;</strong>
          <span>
            renseigne-toi sur ses contraintes logistiques (horaires d’arrivée, bagages, etc) mais également sur le
            voyageur lui-même (fais un tour sur sa fiche collaborateur par exemple)
          </span>
        </li>
        <li>
          <strong>L’accueil tu prépareras&nbsp;:&nbsp;</strong>
          <span>tel que tu aimerais être reçu</span>
        </li>
      </ul>
      <p class="pr-u-marginBlockStart150">
        Pour bien recevoir il faut le vouloir ! Ne te sens pas obligé de proposer ton logement si tu n’en as pas envie.
        Et tu peux aussi refuser une demande si elle ne t’arrange pas.
      </p>
    </lu-box>
  </lu-dialog-content>

  <lu-dialog-footer>
    <div class="footer-actions">
      <button type="button" luButton="text" luDialogDismiss>Fermer</button>
    </div>
  </lu-dialog-footer>
</lu-dialog>
