@use '@lucca-front/scss/src/commons/utils/media';

.pag-u-textNeutral600 {
  color: var(--palettes-neutral-600) !important;
}

.pag-u-textNeutral800 {
  color: var(--palettes-neutral-800) !important;
}
